@font-face {
    font-family: Roboto-Black;
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Roboto-BlackItalic;
    src: url(../fonts/Roboto-BlackItalic.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Roboto-Bold-Italic;
    src: url(../fonts/Roboto-BoldItalic.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Roboto-Italic;
    src: url(../fonts/Roboto-Italic.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf) format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: Roboto-Light-Italic;
    src: url(../fonts/Roboto-LightItalic.ttf) format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf) format('truetype');
    font-weight: medium;
}

@font-face {
    font-family: Roboto-Medium-Italic;
    src: url(../fonts/Roboto-MediumItalic.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf) format('truetype');
    font-weight: thin;
}

@font-face {
    font-family: Roboto-Italic;
    src: url(../fonts/Roboto-ThinItalic.ttf) format('truetype');
    font-weight: thin;
}


a{
    text-decoration:none
}
a.link{
    font-family: "Roboto-regular" sans-serif;
    font-size: 24px;
    color: #f9faf8;
}
body {
    margin: 0px;
}

header.hero h1.hero {
    font-family: "Roboto-regular" sans-serif;
    font-size: 24px;
    font-weight: 1000;
    color: #f9faf8;
}

nav.hero a {
    font-family: "Roboto-regular" sans-serif;
    font-size: 18px;
    color: #e5e7eb;
}

nav.hero {
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
}

header.hero {
    background-color: #1f2937;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section.hero-flex {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.hero {
    background-color: #1f2937;
    position: relative;
    padding-left: 10rem;
    padding-right: 10rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

img.hero {
    height: 350px;
    width: auto;
}

aside.hero h2 {
    font-family: "Roboto-Bold";
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

aside.hero p {
    font-family: "Roboto-regular" sans-serif;
    font-size: 18px;
    color: #e5e7eb;
}

section.info {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

figure.info {
    padding: 15px;
    border: solid 5px #3882f6;
    border-radius: 50px;
}
img{
    border-radius: 20px;
}
div.divpics {
    padding: 10px;
    border: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

img.info {
    width: 350px;
    height: 350px;
    padding: 15px;
    border: solid 5px #3882f6;
    border-radius: 50px;
}

figure.figdiv {
    padding: 10px;
    border: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

p.divp {
    height: auto;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
}

div.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

section.info h3 {
    font-family: "Roboto-Bold";
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
}

p.divp {
    font-family: "Roboto-regular" sans-serif;
    font-size: 18px;
    color: #9298a1;
}

figure.quote {
    margin: 0;
    background-color: #e5e7eb;
    font-family: "Roboto-Italic";
    font-size: 36px;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
p.quote{
        display: flex;
        font-family: "Roboto-Bold";
        font-weight: bolder;
        font-size: 36px;
        color: #1f2937;
}
p.quotep{
    display: flex;
    font-family: "Roboto-Bold";
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
}

section.action {
    background-color: #3882f6;
    border-radius: 8px;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
}

div.action {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

section.action h4 {
    font-family: "Roboto-regular";
    font-size: 24px;
    color: #f9faf8;
}

section.action p {
    font-family: "Roboto-regular";
    font-size: 24px;
    color: #e5e7eb;
}

footer {
    background-color: #1f2937;
    font-family: "Roboto-regular";
    color: #e5e7eb;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 12px;
    padding: 5px;
    width: 120px;
    height: 35px;
}

button.action {
    background-color: #3882f6;
    color: #e5e7eb;
    border: solid white;
    border-radius: 12px;
    padding: 5px;
    width: 120px;
    height: 35px;
}
h1.subsite{
    font-family: "Roboto-Bold";
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
}
p.subsite{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: "Roboto-regular" sans-serif;
    font-size: 24px;
    color: #9298a1;
}
div.subsite{
    padding-left: 10rem;
    padding-right: 10rem;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
article {
    margin: auto 0;
}